.NotFound {
  background-image: url('../../image/122786031.jpg');
  height: 70vh;
  width: 90vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
}
